.i-start-end-points {
  height: 15px;
  width: 180px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="179" height="15" viewBox="0 0 179 15" fill="none"><path d="M0.012207 7.47192H176.538" stroke="%23477EFB" stroke-width="1.74783" stroke-miterlimit="16" stroke-dasharray="13.98 13.98" /><circle cx="7.36745" cy="7.4717" r="6.48133" fill="%23B3CDEA" stroke="%23477EFB" stroke-width="1.74783" /><circle cx="171.635" cy="7.4717" r="6.48133" fill="%232D9CDB" stroke="%232F80ED" stroke-width="1.74783" /></svg>');
}