<mat-card class="dashboard-card mat-elevation-z4">
  <mat-card-title>
    <h1 class="title">
      <mat-icon>insights</mat-icon> KPIs y Reportes de Eventos
    </h1>
  </mat-card-title>

  <mat-card-content>
    <!-- Filtros -->

    <div class="d-flex align-items-baseline justify-content-between">
      <form [formGroup]="filterForm" class="filter-form">
        <mat-form-field appearance="outline">
          <mat-label>Desde</mat-label>
          <input
            matInput
            [matDatepicker]="startPicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hasta</mat-label>
          <input
            matInput
            [matDatepicker]="endPicker"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="applyFilters()">
          Aplicar
        </button>
      </form>

      <button
        class="button-inverted-primary"
        mat-fab
        color="primary"
        (click)="getIaResponse()"
        matTooltip="Asistente IA"
      >
        <mat-icon class="m-0">psychology</mat-icon>
      </button>
    </div>

    @if (iaResponse) {
    <mat-card class="mt-3 p-3">
      <div>
        <h5 class="title-ia">
          <mat-icon class="me-1">psychology</mat-icon>
          Respuesta del Asistente:
        </h5>
        <p class="ia-text" [innerHTML]="formatIa(iaResponse)"></p>
      </div>
    </mat-card>
    }

    <!-- KPIs -->
    <div class="kpi-grid">
      <mat-card class="kpi-card primary">
        <mat-icon>event</mat-icon>
        <div>
          <h3>{{ kpiData.totalEvents }}</h3>
          <p>Total de Eventos</p>
        </div>
      </mat-card>

      <mat-card class="kpi-card accent">
        <mat-icon>check_circle</mat-icon>
        <div>
          <h3>{{ kpiData.confirmedEvents }}</h3>
          <p>Confirmados</p>
        </div>
      </mat-card>

      <mat-card class="kpi-card warn">
        <mat-icon>pending</mat-icon>
        <div>
          <h3>{{ kpiData.pendingEvents }}</h3>
          <p>Pendientes</p>
        </div>
      </mat-card>

      <mat-card class="kpi-card error">
        <mat-icon>cancel</mat-icon>
        <div>
          <h3>{{ kpiData.cancelledEvents }}</h3>
          <p>Cancelados</p>
        </div>
      </mat-card>
    </div>

    <!-- Gráficos -->
    <div class="charts-container mt-5">
      <div class="chart-container">
        <canvas
          baseChart
          height="220px"
          [type]="'pie'"
          [datasets]="pieChartEventStatusDatasets"
          [labels]="pieChartEventStatusLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
        ></canvas>
      </div>

      <div class="chart-container">
        <canvas
          baseChart
          height="220px"
          [type]="'bar'"
          [datasets]="barChartEventTypeDatasets"
          [labels]="barChartEventTypeLabels"
          [options]="barChartOptions"
          [plugins]="pieChartPlugins"
        ></canvas>
      </div>
    </div>
  </mat-card-content>
</mat-card>
