<!-- <div class="landing-container mat-typography">
  <div class="landing-header">
    <mat-icon color="primary">event</mat-icon>
    <h1 class="title">ERP - Eventos</h1>
  </div>

  <div class="module-grid">
    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">engineering</mat-icon>
        <mat-card-title>Gestión de Empleados</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de empleados activos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/employees">Ver empleados</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="primary">construction</mat-icon>
        <mat-card-title>Gestión de Proveedores</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de proveedores activos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/suppliers">Ver proveedores</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">hourglass_empty</mat-icon>
        <mat-card-title>Gestión de Eventos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de eventos activos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/events">Ver eventos</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">supervised_user_circle</mat-icon>
        <mat-card-title>Gestión de Clientes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de clientes activos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/clients">Ver clientes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">list_alt</mat-icon>
        <mat-card-title>Gestión de Tareas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de tareas activas.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/tasks">Ver tareas</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">group</mat-icon>
        <mat-card-title>Gestión de Usuarios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de usuarios activos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/users">Ver usuarios</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">person_add</mat-icon>
        <mat-card-title>Gestión de Invitados</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de invitados activos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/guests">Ver invitados</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">payments</mat-icon>
        <mat-card-title>Gestión de Pagos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de pagos y cobros.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/payments">Ver pagos</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">schedule</mat-icon>
        <mat-card-title>Gestión de Cronogramas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de cronogramas de eventos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/schedules">Ver cronogramas</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="accent">inventory_2</mat-icon>
        <mat-card-title>Gestión de Archivos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Accedé al listado completo de archivos.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" routerLink="/files">Ver archivos</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="extra-section">
    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="warn">speed</mat-icon>
        <mat-card-title>Estadísticas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Desde aquí podrás acceder a las métricas y estadísticas del sistema.</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: end">
        <button mat-button color="primary" routerLink="/dashboards">Ver</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="warn">assignment</mat-icon>
        <mat-card-title>Términos & Condiciones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Desde aquí podrás acceder a los términos y condiciones del sistema.</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: end">
        <button mat-button color="primary" routerLink="/conditions">Ver</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="warn">help</mat-icon>
        <mat-card-title>FAQ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Desde aquí podrás acceder a las preguntas frecuentes del sistema.</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: end">
        <button mat-button color="primary" routerLink="/faq">Ver</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
 -->

<div class="landing-container mat-typography">
  <div class="landing-header">
    <div class="card-header pe-3">
     <!--  <mat-icon color="primary">event</mat-icon> -->
      <div class="image-container-pet">
        <img src="assets/logo.png" alt="ERP Eventos" />
      </div>
      <h1 class="title">Evana Planning - event organizer</h1>
    </div>
  </div>

  <div class="main-layout">
    <div class="image-container">
      <img src="assets/calendario_4.png" alt="ERP Eventos" />
    </div>

    <div class="first-row-cards">
      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent"
            >supervised_user_circle</mat-icon
          >
          <mat-card-title>Gestión de Clientes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de clientes activos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/clients">
            Ver clientes
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">hourglass_empty</mat-icon>
          <mat-card-title>Gestión de Eventos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de eventos activos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/events">
            Ver eventos
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">person_add</mat-icon>
          <mat-card-title>Gestión de Invitados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de invitados activos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/guests">
            Ver invitados
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">list_alt</mat-icon>
          <mat-card-title>Gestión de Tareas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de tareas activas.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/tasks">
            Ver tareas
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="main-layout">
    <div class="first-row-cards">
      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">schedule</mat-icon>
          <mat-card-title>Gestión de Cronogramas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de cronogramas de eventos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/schedules">
            Ver cronogramas
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">engineering</mat-icon>
          <mat-card-title>Gestión de Empleados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de empleados activos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/employees">
            Ver empleados
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="primary">construction</mat-icon>
          <mat-card-title>Gestión de Proveedores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de proveedores activos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/suppliers">
            Ver proveedores
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">inventory_2</mat-icon>
          <mat-card-title>Gestión de Archivos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de archivos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/files">
            Ver archivos
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="image-container">
      <img src="assets/calendario_3.png" alt="ERP Eventos" />
    </div>
  </div>

  <div class="main-layout">
    <div class="image-container">
      <img src="assets/calendario_1.png" alt="ERP Eventos" />
    </div>

    <div class="first-row-cards">
      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">payments</mat-icon>
          <mat-card-title>Gestión de Pagos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de pagos y cobros.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/payments">
            Ver pagos
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">group</mat-icon>
          <mat-card-title>Gestión de Usuarios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Accedé al listado completo de usuarios activos.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" routerLink="/users">
            Ver usuarios
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="employee-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">speed</mat-icon>
          <mat-card-title>Estadísticas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Desde aquí podrás acceder a las métricas y estadísticas del sistema.
          </p>
        </mat-card-content>
        <mat-card-actions style="justify-content: end">
          <button mat-button color="primary" routerLink="/dashboards">
            Ver
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="extra-section">
    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="warn">assignment</mat-icon>
        <mat-card-title>Términos & Condiciones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Desde aquí podrás acceder a los términos y condiciones del sistema.
        </p>
      </mat-card-content>
      <mat-card-actions style="justify-content: end">
        <button mat-button color="primary" routerLink="/conditions">Ver</button>
      </mat-card-actions>
    </mat-card>

    <div class="image-container-pet">
      <img src="assets/pet_2.png" alt="ERP Eventos" />
    </div>

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-icon mat-card-avatar color="warn">help</mat-icon>
        <mat-card-title>FAQ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Desde aquí podrás acceder a las preguntas frecuentes del sistema.</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: end">
        <button mat-button color="primary" routerLink="/faq">Ver</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
