.employee-card {
  padding: 1.5rem; // 24px
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 1.5rem; // top-bottom 24px
}

.search-field {
  flex-grow: 1;
  flex-basis: 15rem; // 240px
  min-width: 12rem; // 192px
  max-width: 100%;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem; // 12px
  align-items: baseline;
}

.grid-wrapper {
  width: 100%;
  min-height: 31.25rem; // 500px
}

@media (max-width: 768px) {
  .action-buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .action-buttons mat-form-field {
    width: 100%;
    max-width: 300px;
  }

  .action-buttons button {
    align-self: center;
  }
}

.image-container-pet {
  display: flex;
  align-items: center;
}

.image-container-pet img {
  width: 50px;
  height: auto;
}