<mat-card class="dashboard-card mat-elevation-z4">
    <mat-card-title>
      <h1 class="title"><mat-icon>insights</mat-icon> KPIs y Reportes de Proveedores</h1>
    </mat-card-title>
  
    <mat-card-content>
      <!-- Filtros -->
      <div class="d-flex align-items-baseline justify-content-between">
        <form [formGroup]="filterForm" class="filter-form">
          <mat-form-field appearance="outline">
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
    
          <button mat-raised-button color="primary" (click)="applyFilters()">Aplicar</button>
        </form>
        <button
        class="button-inverted-primary"
        mat-fab
        color="primary"
        (click)="getIaResponse()"
        matTooltip="Asistente IA"
      >
        <mat-icon class="m-0">psychology</mat-icon>
      </button>
      </div>
      @if (iaResponse) {
        <mat-card class="mt-3 p-3">
          <div>
            <h5 class="title-ia">
              <mat-icon class="me-1">psychology</mat-icon>
              Respuesta del Asistente:
            </h5>
            <p class="ia-text" [innerHTML]="formatIa(iaResponse)"></p>
          </div>
        </mat-card>
        }
  
      <!-- KPIs -->
      <div class="kpi-grid">
        <mat-card class="kpi-card primary">
          <div class="d-flex flex-row justify-content-between gap-2 align-content-center">
            <mat-icon matListItemIcon>group</mat-icon>
            <p class="lead">Total de Proveedores</p>
          </div>
          <h2 class="display-6 fs-1">{{ kpiData.totalSuppliers }}</h2>
        </mat-card>
      
        <mat-card class="kpi-card accent">
          <div class="d-flex flex-row justify-content-between gap-2 align-content-center">
            <mat-icon matListItemIcon>public</mat-icon>
            <p class="lead">Internacionales</p>
          </div>
          <h2 class="display-6 fs-1">{{ kpiData.internationalSuppliers }}</h2>
        </mat-card>
      
        <mat-card class="kpi-card warn">
          <div class="d-flex flex-row justify-content-between gap-2 align-content-center">
            <mat-icon matListItemIcon>home</mat-icon>
            <p class="lead">Nacionales</p>
          </div>
          <h2 class="display-6 fs-1">{{ kpiData.nationalSuppliers }}</h2>
        </mat-card>
      </div>
      
  
      <!-- Gráficos -->
      <div class="charts-container mt-5">
        <div class="chart-container">
          <canvas
            baseChart
            height="220px"
            [type]="'pie'"
            [datasets]="pieChartSupplierTypeDatasets"
            [labels]="pieChartSupplierTypeLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
          ></canvas>
        </div>
  
        <div class="chart-container">
          <canvas
            baseChart
            height="220px"
            [type]="'bar'"
            [datasets]="barChartSupplierTypeDatasets"
            [labels]="barChartSupplierTypeLabels"
            [options]="barChartOptions"
            [plugins]="pieChartPlugins"
          ></canvas>
        </div>
      </div>
    </mat-card-content>
    <div class="card-header-img pe-3">
      <div class="image-container-pet">
        <img src="assets/pet_4.png" alt="ERP Eventos" />
      </div>
    </div>
  </mat-card>
  
