<mat-card class="details-card mat-elevation-z4">
  <mat-card-header class="details-header">
    <mat-icon color="primary" class="me-2">info</mat-icon>
    <mat-card-title class="mat-title">Detalles</mat-card-title>
  </mat-card-header>

  <mat-card-content class="mat-body-1">
    <div class="details-grid">
      <ng-container *ngFor="let key of getKeys()">
        <ng-container *ngIf="!isArray(data[key]); else listBlock">
          <div class="details-item">
            <strong>{{ key | titlecase }}:</strong>
            <span>{{ formatValue(data[key]) }}</span>
          </div>
        </ng-container>

        <ng-template #listBlock>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="me-2">list</mat-icon> {{ key | titlecase }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let item of data[key]">
                <mat-icon matListIcon color="primary">arrow_right</mat-icon>
                {{ formatValue(item) }}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </ng-template>
      </ng-container>
    </div>
  </mat-card-content>

  <mat-card-actions align="end" class="actions">
    <button mat-stroked-button color="primary" mat-dialog-close>
      <mat-icon class="me-1">close</mat-icon> Cerrar
    </button>
  </mat-card-actions>
</mat-card>

  
