<div
  class="mat-typography d-flex flex-column justify-content-center align-items-center p-5"
  style="min-height: 100vh"
>
  <div class="d-flex align-items-center gap-2 mb-4">
    <mat-icon color="primary" fontIcon="lock_reset" class="fs-2"></mat-icon>
    <h1 class="mb-0 fs-4 fw-bold title">ERP Eventos</h1>
  </div>
  <mat-card style="width: 100%; max-width: 400px">
    <mat-card-header class="mb-3">
      <mat-card-title>Recuperar contraseña</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field
          appearance="outline"
          style="width: 100%; margin-bottom: 24px"
        >
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" formControlName="email" required />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          style="width: 100%"
          type="submit"
          [disabled]="form.invalid"
        >
          Enviar enlace de recuperación
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
