.employee-card {
  padding: 1.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 1.5rem;
}

.search-field {
  flex-grow: 1;
  flex-basis: 15rem;
  min-width: 12rem;
  max-width: 100%;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: baseline;
}

.grid-wrapper {
  width: 100%;
  min-height: 31.25rem;
}
