<div class="form-container">
  <mat-card class="form-card">
    <mat-card-title class="mb-3">
      <h1 class="title">
        <mat-icon matListItemIcon>article</mat-icon>
        {{ supplierId ? 'Editar Proveedor' : 'Nuevo Proveedor' }}
      </h1>
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <!-- Primera fila -->
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CUIT</mat-label>
            <input matInput formControlName="cuit" />
          </mat-form-field>

          <!-- Segunda fila -->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="phoneNumber" />
          </mat-form-field>

          <!-- Tercera fila -->
          <mat-form-field appearance="outline">
            <mat-label>Alias o CBU</mat-label>
            <input matInput formControlName="aliasCbu" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de Proveedor</mat-label>
            <mat-select formControlName="supplierType">
              <mat-option value="CATERING">Catering</mat-option>
              <mat-option value="DECORACION">Decoración</mat-option>
              <mat-option value="SOUND">Sonido</mat-option>
              <mat-option value="GASTRONOMIC">Gastronómico</mat-option>
              <mat-option value="FURNITURE">Mobiliario</mat-option>
              <mat-option value="ENTERTAINMENT">Entretenimiento</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Cuarta fila - Campo que ocupa todo el ancho -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" />
          </mat-form-field>
        </div>

        <!-- Botones de acción -->
        <div class="action-buttons">
          <button mat-stroked-button type="button" (click)="goBack()">
            Volver
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            {{ supplierId ? 'Guardar cambios' : 'Crear proveedor' }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
