<div class="mat-typography" style="display: flex; justify-content: center; align-items: center; min-height: 100vh; padding: 24px;">
    <mat-card style="width: 100%; max-width: 900px;">
      <mat-card-title>{{ supplierId ? 'Editar Proveedor' : 'Nuevo Proveedor' }}</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
          <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px;">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>CUIT</mat-label>
              <input matInput formControlName="cuit" />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="phoneNumber" />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Alias o CBU</mat-label>
              <input matInput formControlName="aliasOrCbu" />
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Tipo de proveedor</mat-label>
              <mat-select formControlName="supplierType">
                <mat-option value="CATERING">CATERING</mat-option>
                <mat-option value="DECORACION">DECORACION</mat-option>
                <mat-option value="SONIDO">SONIDO</mat-option>
                <mat-option value="ILUMINACION">ILUMINACION</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="mat-column-span">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="address" />
            </mat-form-field>
          </div>
  
          <!-- Botones -->
          <div style="display: flex; justify-content: space-between; margin-top: 24px;">
            <button mat-stroked-button color="accent" type="button" (click)="goBack()">
              Volver
            </button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
              {{ supplierId ? 'Editar proveedor' : 'Crear proveedor' }}
            </button>
          </div>
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  
