/* Estilos para la sidebar */

::ng-deep .mat-mdc-list-item {
  padding-left: 16px !important;
}

::ng-deep #mat-menu-panel-2 {
  margin-left: 5vw !important;
}

.app-container {
  height: 100vh;
  width: 100%;
}

.app-sidenav {
  transition: width 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.sidebar-expanded {
  width: 240px;
}

.sidebar-collapsed {
  width: 60px;
}

/* Ajustes para el contenido principal */
.content-container {
  min-height: calc(100vh - 64px);
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}

/* Transición para mat-sidenav-content */
mat-sidenav-content {
  transition: margin-left 0.3s ease;
}

.content-expanded {
  margin-left: 60px !important; /* Corresponde al ancho de la sidebar colapsada */
}

.content-normal {
  margin-left: 240px !important; /* Corresponde al ancho de la sidebar expandida */
}

/* Enlace activo en la navegación */
.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  border-left: 3px solid #3f51b5;
}

/* Botón de toggle */
.toggle-button {
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
}

.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/* Para centrar iconos cuando la sidebar está colapsada */
.sidebar-collapsed .mat-icon {
  margin: 0 auto;
}

/* Ajuste para el área de contenido */
mat-sidenav-content {
  overflow-x: hidden;
}

/* NOTIFICACIONES */

.notification-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

.notification-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notification-actions {
  display: flex;
  align-items: center;
  gap: 1vw;
}

