<mat-card class="mat-elevation-z4 faq-card">
    <mat-card-title>
      <div class="card-header pe-3">
        <h1 class="title">
          <mat-icon color="primary">help_outline</mat-icon> Preguntas Frecuentes (FAQ)
        </h1>
        <div class="image-container-pet">
          <img src="assets/pet_8.png" alt="ERP Eventos" />
        </div>
      </div>
    </mat-card-title>
  
    <mat-card-content>
      <div class="faq-grid">
        <section>
          <h2>¿Qué es el ERP de Eventos?</h2>
          <p>
            Es una solución integral que permite gestionar todos los aspectos relacionados con la organización de eventos,
            incluyendo clientes, proveedores, locaciones, empleados, pagos, tareas y reportes.
          </p>
        </section>
  
        <section>
          <h2>¿Cómo puedo crear un nuevo evento?</h2>
          <p>
            Dirígete a la sección "Eventos" en el menú principal y presiona el botón "Crear Evento". 
            Completa la información requerida y guarda los cambios.
          </p>
        </section>
  
        <section>
          <h2>¿Puedo asignar múltiples proveedores a un evento?</h2>
          <p>
            Sí, puedes asignar tantos proveedores como necesites desde la sección de detalle del evento, 
            seleccionándolos en la lista correspondiente.
          </p>
        </section>
  
        <section>
          <h2>¿Qué tipo de reportes puedo generar?</h2>
          <p>
            Puedes generar reportes de eventos, ingresos, gastos, empleados involucrados y reportes financieros,
            tanto en formato PDF como Excel.
          </p>
        </section>
  
        <section>
          <h2>¿Cómo se gestionan las ubicaciones?</h2>
          <p>
            Las ubicaciones se pueden gestionar de forma independiente en la sección "Ubicaciones" o 
            directamente al crear o editar un evento.
          </p>
        </section>
  
        <section>
          <h2>¿Qué hago si olvidé mi contraseña?</h2>
          <p>
            En la pantalla de inicio de sesión, haz clic en "¿Olvidaste tu contraseña?" 
            y sigue los pasos para recuperarla. Recibirás un correo con las instrucciones.
          </p>
        </section>
  
        <section>
          <h2>¿Cómo contacto al soporte técnico?</h2>
          <p>
            Puedes contactarnos enviando un correo a <a href="mailto:soporte@erp-eventos.com">{{'soporte@erp-eventos.com'}}</a> 
            o llamando al +54 351 2371845.
          </p>
        </section>
      </div>
    </mat-card-content>
  
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" routerLink="/landing">Volver al Inicio</button>
    </mat-card-actions>
  </mat-card>
  
